@using restaurante.Controllers;
@using restaurante.Models;
@model List<restaurante.Models.tblPlato>
@{
    ViewBag.Title = "Home";
    //grid view
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}


@{
    List<restaurante.Models.clsOrdenRealizada> listaOrdenes = ViewData["ordenesRealizadas"] as List<restaurante.Models.clsOrdenRealizada>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <h1>Restautante Sabor a mi MVC</h1>

                <h2 style="color: green;">Orden</h2>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="from-group">
                    <label for="idTipoDoc">Tipo de documento</label>
                    <div>
                        @Html.DropDownList("idTipoDoc", ViewData["TipoDocumento"] as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nroTipoDoc">Numero de documento</label>
                    <input type="text" class="form-control" name="nroTipoDoc" placeholder="Ingrese nro del documento" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nombreCliente">Nombre del cliente</label>
                    <input type="text" class="form-control" name="nombreCliente" placeholder="Ingrese el nombre" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                    <label for="apellidoCliente">Apellido del cliente</label>
                    <input type="text" class="form-control" name="apellidoCliente" placeholder="Ingrese el apellido" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="idMesa">Numero de la mesa</label>
                    <div>
                        @Html.DropDownList("idMesa", ViewData["Mesa"] as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="idPlato">Alimento</label>
                    <div>
                        @Html.DropDownList("idPlato", ViewData["Plato"] as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="text" class="form-control" name="cantidad" placeholder="Ingrese la cantidad" required>
                </div>
            </div>
        </div>

        <div class="col-md-offset-8">
            <button type="submit" class="btn btn-info">Registrar orden</button>
        </div>
    }

    <h2 style="color: green;">Ordenes realizadas</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <thead style="text-align:center;">
                    <tr>
                        <td><b>Documento</b></td>
                        <td><b>Cliente</b></td>
                        <td><b>Número de mesa</b></td>
                        <td><b>Alimento</b></td>
                        <td><b>Precio</b></td>
                        <td><b>Cantidad</b></td>
                        <td><b>Total</b></td>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @foreach (var item in listaOrdenes)
                    {
                        <tr>
                            <td>@item.documento</td>
                            <td>@item.cliente</td>
                            <td>@item.nroMesa</td>
                            <td>@item.nombrePlato</td>
                            <td>@item.precioPlato</td>
                            <td>@item.dpcantidad</td>
                            <td>@item.total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>